workflows/wazuh-ai-security-analyzer/wazuh-ai-security-analyzer-dynamic.workflow.json
{
  "name": "Wazuh AI Security Analyzer (dynamic infra context)",
  "nodes": [
    {
      "parameters": {
        "content": "## Wazuh AI Security Analyzer\n\nReceives Wazuh webhook alerts (level >= 9 by default), sends the full payload to an LLM for analysis, then delivers an enriched Slack and/or Telegram message with AI risk assessment + investigation commands.\n\n**Quick start:**\n1. Set up credentials and the webhook (see \"Prerequisites & Resources\" sticky)\n2. Edit the **Config** node: thresholds, timezone, model, Telegram IDs\n3. Customize the infrastructure context block in **Extract Alert** for your environment, this is what makes the analysis actually useful\n4. Set the Slack webhook URL in **Slack AI Alert** and/or the Telegram token+chat ID in Config for **Telegram AI Alert**\n5. Activate the workflow and point your Wazuh ossec.conf integration at `/webhook/wazuh-alert`\n\n**Default model:** claude-haiku-4-5-20251001 (~$0.001/alert). Switch to claude-sonnet-4-5, GPT-4o, or a local Ollama model for deeper analysis. See \"Extract & Analyze\" sticky.\n\n**Built by Agenius AI Labs** | github.com/Agenius-AI-Labs",
        "height": 432,
        "width": 600,
        "color": 4
      },
      "id": "00000000-0003-0003-0003-000000000001",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        -384
      ]
    },
    {
      "parameters": {
        "content": "## Prerequisites & Resources\n\nEverything a first-time user needs. Each link goes to the exact setup doc.\n\n**1. n8n** (orchestrator, self-hosted or cloud)\nhttps://docs.n8n.io/hosting/installation/\nCloud signup: https://n8n.io/cloud/\n\n**2. Wazuh SIEM** (alert source)\nInstall: https://documentation.wazuh.com/current/installation-guide/index.html\nCustom integration webhook: https://documentation.wazuh.com/current/user-manual/manager/manual-integration.html\n\n**3. LLM API key, pick one:**\n- Anthropic Claude (recommended): https://docs.anthropic.com/en/api/getting-started\n- OpenAI: https://platform.openai.com/docs/quickstart\n- Ollama (local, free): https://ollama.com/download\nSee \"Extract & Analyze\" sticky for swap instructions.\n\n**4. Notification channel, pick one or both:**\n- Slack incoming webhook: https://api.slack.com/messaging/webhooks\n  Recommend creating a dedicated #security-alerts channel first.\n- Telegram bot: https://core.telegram.org/bots/tutorial\n  Create the bot via @BotFather, get your chat ID via @userinfobot.\n\nNo paid services required to run this. Anthropic/OpenAI are pay-per-use (alerts cost a fraction of a cent). Ollama runs fully local.",
        "height": 432,
        "width": 656,
        "color": "#2E3D7A"
      },
      "id": "3f7e1c3f-1c5a-4e6d-be8c-a7fc1a1a7774",
      "name": "Prerequisites",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alert-ai-dynamic",
        "options": {}
      },
      "id": "00000000-0003-0003-0003-000000000002",
      "name": "Wazuh Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        320
      ],
      "webhookId": "wazuh-alert-ai-dynamic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-min-level",
              "name": "minAlertLevel",
              "value": 9,
              "type": "number"
            },
            {
              "id": "cfg-critical-level",
              "name": "criticalLevel",
              "value": 12,
              "type": "number"
            },
            {
              "id": "cfg-timezone",
              "name": "timezone",
              "value": "America/New_York",
              "type": "string"
            },
            {
              "id": "cfg-model",
              "name": "claudeModel",
              "value": "claude-haiku-4-5-20251001",
              "type": "string"
            },
            {
              "id": "cfg-tg-token",
              "name": "telegramBotToken",
              "value": "YOUR_TELEGRAM_BOT_TOKEN",
              "type": "string"
            },
            {
              "id": "cfg-tg-chat",
              "name": "telegramChatId",
              "value": "YOUR_TELEGRAM_CHAT_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "00000000-0003-0003-0003-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-min-level",
              "leftValue": "={{ $('Wazuh Alert Webhook').first().json.body.rule.level }}",
              "rightValue": "={{ $json.minAlertLevel }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00000000-0003-0003-0003-000000000004",
      "name": "IF Level Qualifies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        320
      ]
    },
    {
      "parameters": {},
      "id": "00000000-0003-0003-0003-000000000005",
      "name": "Stop - Below Threshold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst alert = $('Wazuh Alert Webhook').first().json.body;\n\n// Core alert fields\nconst level = parseInt(alert?.rule?.level ?? 0);\nconst description = alert?.rule?.description ?? 'Unknown rule';\nconst agentName = alert?.agent?.name ?? 'unknown';\nconst agentIp = alert?.agent?.ip ?? 'N/A';\nconst srcIp = alert?.data?.srcip ?? null;\nconst dstUser = alert?.data?.dstuser ?? null;\nconst srcUser = alert?.data?.srcuser ?? null;\nconst command = alert?.data?.command ?? null;\nconst groups = Array.isArray(alert?.rule?.groups)\n  ? alert.rule.groups.join(', ')\n  : (alert?.rule?.groups ?? 'N/A');\nconst ruleId = alert?.rule?.id ?? 'N/A';\nconst location = alert?.location ?? 'N/A';\nconst rawTs = alert?.timestamp ?? new Date().toISOString();\nconst tz = cfg.timezone ?? 'America/New_York';\nconst ts = new Date(rawTs).toLocaleString('en-US', { timeZone: tz, hour12: false });\nconst isCritical = level >= (cfg.criticalLevel ?? 12);\n\n// ============================================================\n// Infrastructure context: pulled LIVE from an updatable data store via the\n// 'Load Infra Context' node (Postgres by default; swap for HTTP/JSON or Google\n// Sheets - see dynamic-infrastructure-context.md). The store returns a single\n// { context } string. If it is unreachable we fall back to a short built-in\n// summary so an alert is never blocked. CUSTOMIZE the fallback for your network.\n// ============================================================\nlet infraContext = null;\ntry {\n  const ctx = $('Load Infra Context').first().json.context;\n  if (ctx && String(ctx).trim()) infraContext = String(ctx).trim();\n} catch (e) { infraContext = null; }\nif (!infraContext) {\n  infraContext = `Infrastructure context (fallback - dynamic store unavailable; replace with YOUR baseline):\n- 3-node home lab on 10.0.0.0/24; admin over a mesh VPN, only selected services exposed via reverse proxy / tunnel\n- Key hosts: vector-db (10.0.0.20), postgres (10.0.0.21), automation / n8n (10.0.0.22), siem / wazuh (10.0.0.30)\n- Active response disabled, monitoring only`;\n}\n// ============================================================\n\nconst systemPrompt = `You are a security analyst reviewing a Wazuh SIEM alert. Respond ONLY with a valid JSON object, no text outside the JSON, no markdown code blocks.\n\n${infraContext}\n\nResponse schema (all fields required):\n{\n  \"risk_level\": \"low|medium|high|critical\",\n  \"likely_cause\": \"one sentence, most probable explanation given this specific infrastructure\",\n  \"is_likely_false_positive\": true or false,\n  \"fp_reason\": \"if false positive, brief reason; otherwise empty string\",\n  \"recommended_action\": [\"action 1\", \"action 2\"],\n  \"investigate_commands\": [\"bash command 1\", \"bash command 2\"]\n}`;\n\nconst userPrompt = `Analyze this Wazuh alert:\n\nHost: ${agentName} (${agentIp})\nRule ID: ${ruleId} | Level: ${level}\nDescription: ${description}\nGroups: ${groups}\nSource IP: ${srcIp ?? 'N/A'}\nDest User: ${dstUser ?? 'N/A'} | Source User: ${srcUser ?? 'N/A'}\nCommand: ${command ?? 'N/A'}\nLocation (log file): ${location}\nTimestamp: ${ts}\n\nFull alert JSON:\n${JSON.stringify(alert, null, 2)}`;\n\nconst claudeBodyObj = {\n  model: cfg.claudeModel ?? 'claude-haiku-4-5-20251001',\n  max_tokens: 700,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n};\n\nreturn [{\n  json: {\n    minAlertLevel: cfg.minAlertLevel,\n    criticalLevel: cfg.criticalLevel,\n    timezone: cfg.timezone,\n    claudeModel: cfg.claudeModel,\n    telegramBotToken: cfg.telegramBotToken,\n    telegramChatId: cfg.telegramChatId,\n    level,\n    description,\n    agentName,\n    agentIp,\n    srcIp,\n    dstUser,\n    srcUser,\n    command,\n    groups,\n    ruleId,\n    location,\n    ts,\n    isCritical,\n    claudeBodyObj\n  }\n}];"
      },
      "id": "00000000-0003-0003-0003-000000000006",
      "name": "Extract Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBodyObj) }}",
        "options": {}
      },
      "id": "00000000-0003-0003-0003-000000000007",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst alert = $('Extract Alert').item.json;\n\n// Parse LLM JSON response. Supports Anthropic, OpenAI, and Ollama response shapes.\nconst rawText = llmResponse.content?.[0]?.text\n  ?? llmResponse.choices?.[0]?.message?.content\n  ?? llmResponse.message?.content\n  ?? '{}';\n\nlet analysis = {};\ntry {\n  const cleaned = rawText\n    .replace(/^```json\\s*/m, '')\n    .replace(/^```\\s*/m, '')\n    .replace(/\\s*```$/m, '')\n    .trim();\n  analysis = JSON.parse(cleaned);\n} catch(e) {\n  analysis = {\n    risk_level: 'unknown',\n    likely_cause: 'AI analysis unavailable, review alert manually.',\n    is_likely_false_positive: false,\n    fp_reason: '',\n    recommended_action: ['Check Wazuh dashboard for full alert context'],\n    investigate_commands: []\n  };\n}\n\n// ============================================================\n// CUSTOMIZE ME: Wazuh dashboard URL used in notification messages\n// ============================================================\nconst dashboardUrl = 'https://your-wazuh-dashboard.example.com';\n// ============================================================\n\nconst level = alert.level;\nconst riskEmojis = { critical: '🔴', high: '🟠', medium: '🟡', low: '🟢', unknown: '⚪' };\nconst alertEmoji = level >= 12 ? '🔴' : level >= 9 ? '🟠' : '🟡';\nconst alertLabel = level >= 12 ? 'CRITICAL' : level >= 9 ? 'HIGH' : 'WARNING';\nconst riskEmoji = riskEmojis[analysis.risk_level?.toLowerCase()] ?? '⚪';\nconst riskLabel = (analysis.risk_level ?? 'unknown').toUpperCase();\n\nfunction buildMessage(platform) {\n  const lines = [\n    `${alertEmoji} *${alertLabel}* | Level ${level} | *${alert.agentName}*`,\n    `*Rule:* ${alert.description}`,\n  ];\n\n  if (alert.srcIp) lines.push(`*Source IP:* ${alert.srcIp}`);\n  if (alert.dstUser) lines.push(`*User:* ${alert.dstUser}`);\n  if (alert.command) lines.push(`*Command:* \\`${alert.command}\\``);\n  lines.push(`*Time:* ${alert.ts}`);\n\n  lines.push('', `${riskEmoji} *AI: ${riskLabel}*`);\n  lines.push(`${analysis.likely_cause}`);\n\n  if (analysis.is_likely_false_positive) {\n    lines.push(`⚠️ *Likely false positive*: ${analysis.fp_reason}`);\n  }\n\n  if ((analysis.recommended_action ?? []).length > 0) {\n    lines.push('', '📋 *Actions:*');\n    for (const a of analysis.recommended_action) {\n      lines.push(`• ${a}`);\n    }\n  }\n\n  if ((analysis.investigate_commands ?? []).length > 0) {\n    lines.push('', '🔍 *Investigate:*');\n    for (const cmd of analysis.investigate_commands) {\n      lines.push(`\\`${cmd}\\``);\n    }\n  }\n\n  const dashboardLink = platform === 'slack'\n    ? `<${dashboardUrl}|Wazuh Dashboard>`\n    : `[Wazuh Dashboard](${dashboardUrl})`;\n  lines.push('', dashboardLink);\n\n  return lines.join('\\n');\n}\n\nreturn [{\n  json: {\n    slackMessage: buildMessage('slack'),\n    telegramMessage: buildMessage('telegram'),\n    level: alert.level,\n    agentName: alert.agentName,\n    riskLevel: analysis.risk_level\n  }\n}];"
      },
      "id": "10c54f94-f6c6-4396-8684-284522785bd3",
      "name": "Format AI Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackMessage }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        240
      ],
      "id": "eb1d2e53-0ea7-4966-813c-7dd1020cee28",
      "name": "Slack AI Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').item.json.telegramBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Config').item.json.telegramChatId, text: $json.telegramMessage, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        400
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Telegram AI Alert"
    },
    {
      "parameters": {
        "content": "## Wazuh Incoming Alert Webhook\n\nThis webhook receives Wazuh alerts in real time. Configure your Wazuh manager to POST every alert (or a filtered subset) here.\n\n**1. Get the webhook URL** from the node after saving the workflow:\n- Production: `https://<your-n8n-host>/webhook/wazuh-alert`\n- Test: `https://<your-n8n-host>/webhook-test/wazuh-alert`\n\n**2. Add the integration to Wazuh** by editing `/var/ossec/etc/ossec.conf` and adding inside `<ossec_config>`:\n\n```xml\n<integration>\n  <name>custom-n8n</name>\n  <hook_url>https://your-n8n-host/webhook/wazuh-alert</hook_url>\n  <level>9</level>\n  <alert_format>json</alert_format>\n</integration>\n```\n\n**3. Create the integration script** at `/var/ossec/integrations/custom-n8n` (chmod 750, owner root:wazuh). Wazuh ships sample scripts you can adapt, see:\nhttps://documentation.wazuh.com/current/user-manual/manager/integration-with-external-apis.html\n\n**4. Restart Wazuh:** `systemctl restart wazuh-manager`\n\n**Tip:** start with `<level>9</level>` in ossec.conf, then tune `minAlertLevel` in the Config node to fine-tune what actually reaches the LLM.",
        "height": 624,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        64
      ],
      "typeVersion": 1,
      "id": "be62f3fa-553e-456a-b97a-da87b0e99b8c",
      "name": "Sticky - Webhook"
    },
    {
      "parameters": {
        "content": "## Configuration & Qualification\n\nEdit the **Config** node to tune behavior. All fields are passed downstream to every node.\n\n**`minAlertLevel`** (default: 9): Wazuh alerts below this level are silently dropped at the IF node, cheap cost control. Increase to 10-11 in noisy environments.\n\n**`criticalLevel`** (default: 12): Alerts at or above this get the red 🔴 emoji + CRITICAL label in the message.\n\n**`timezone`** (default: America/New_York): IANA timezone string for the human-readable timestamp.\n\n**`claudeModel`** (default: claude-haiku-4-5-20251001): LLM model to use. See \"Extract & Analyze\" for alternatives.\n\n**`telegramBotToken`** + **`telegramChatId`**: fill these in if using Telegram. Leave defaults and delete the Telegram branch if Slack-only.\n\n**`IF Level Qualifies`** node: already wired to drop anything below `minAlertLevel`. The \"Stop - Below Threshold\" branch is a deliberate no-op so you can swap in metrics / logging later if you want to track suppressed alerts.\n\n**To test:** click \"Listen for test event\" on the Webhook node, then either trigger a real Wazuh alert or POST a sample JSON payload with curl.",
        "height": 624,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        64
      ],
      "typeVersion": 1,
      "id": "d933dddd-d4b2-4b47-b81a-820f63e4bb59",
      "name": "Sticky - Config"
    },
    {
      "parameters": {
        "content": "## Extract & Analyze\n\nThe **Extract Alert** node builds the LLM prompt. The infrastructure context block (clearly marked with `===` comment banners) contains an EXAMPLE lab. Replace it with your own environment. The more specific (hostnames, services, normal patterns), the better the analysis.\n\nThe **Claude Analysis** node is preconfigured for Anthropic. Swap as needed:\n\n**Anthropic Claude (default)**\n- URL: `https://api.anthropic.com/v1/messages`\n- Auth: Header Auth credential named `Anthropic API`, header `x-api-key`, value = your key\n- Extra header: `anthropic-version: 2023-06-01`\n- Models: `claude-haiku-4-5-20251001` (cheap), `claude-sonnet-4-5` (deeper)\n\n**OpenAI swap**\n- URL: `https://api.openai.com/v1/chat/completions`\n- Auth: Header Auth credential, header `Authorization`, value `Bearer YOUR_OPENAI_KEY`\n- Replace `claudeBodyObj` in Extract Alert with:\n```\n{\n  model: 'gpt-4o-mini',\n  max_tokens: 700,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n}\n```\n- The Format AI Message node already handles OpenAI's response shape, no further edits needed.\n\n**Ollama swap (local, free)**\n- URL: `http://<ollama-host>:11434/api/chat`\n- No auth needed\n- Replace `claudeBodyObj` in Extract Alert with:\n```\n{\n  model: 'llama3.1:8b',\n  stream: false,\n  format: 'json',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n}\n```\n- Format AI Message already handles Ollama's response shape.\n- Recommended models: `llama3.1:8b`, `qwen2.5:7b`, `mistral:7b`",
        "height": 624,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        64
      ],
      "typeVersion": 1,
      "id": "a0941ab2-a98e-4deb-9e2d-e9c448f408d6",
      "name": "Sticky - Extract Analyze"
    },
    {
      "parameters": {
        "content": "## Format & Notify\n\n**Format AI Message** parses the LLM JSON response and builds both a Slack and Telegram message string. Both notification nodes run in parallel from the same output.\n\n**Slack setup**\n1. Create an incoming webhook: https://api.slack.com/messaging/webhooks\n2. Paste the webhook URL into the **Slack AI Alert** node's `URL` field\n3. Recommend a dedicated #security-alerts channel\n\n**Telegram setup**\n1. Message @BotFather on Telegram, run `/newbot`, save the bot token\n2. Message @userinfobot to get your chat ID (or a group chat ID)\n3. Add your bot to the target chat or group\n4. Set `telegramBotToken` and `telegramChatId` in the **Config** node\n5. Bot API docs: https://core.telegram.org/bots/api#sendmessage\n\n**Using only one channel?**\nDelete the branch you don't want. The Format node has no dependency on either notification node, removing one will not break the workflow.\n\n**Want SMS, PagerDuty, Discord, email?**\nAdd another HTTP Request node downstream of Format AI Message. Discord uses Slack-compatible markdown and can reuse `$json.slackMessage` directly. PagerDuty needs the Events API v2 envelope, wrap accordingly.",
        "height": 624,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        64
      ],
      "typeVersion": 1,
      "id": "11be93b2-8437-4fdd-aec7-b6aceaaf32dc",
      "name": "Sticky - Format Notify"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT context FROM infra_context_block;",
        "options": {}
      },
      "id": "load-infra-context-0001",
      "name": "Load Infra Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        304
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Dynamic infrastructure context\n\nThis node loads your host map from an **updatable data store** instead of a hardcoded string, so you change it in one place as your cluster grows.\n\n**Default: Postgres.** Create the `infra_context` table + `infra_context_block` view (see `sql/infra_context.sql`), point the Postgres credential at your DB, and keep the rows current. The view returns one column `context`.\n\n**No database?** Swap this node for an HTTP Request (JSON file/endpoint) or a Google Sheets read. Either way it must output `{ context: \"...\" }` for the next node. See `dynamic-infrastructure-context.md`.\n\nIf the store is unreachable, `Extract Alert` falls back to a short built-in summary, so an alert is never blocked.",
        "height": 360,
        "width": 420,
        "color": 4
      },
      "id": "sticky-load-infra-0001",
      "name": "Sticky - Load Infra Context",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        -120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Wazuh Alert Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "IF Level Qualifies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Level Qualifies": {
      "main": [
        [
          {
            "node": "Load Infra Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Below Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alert": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Format AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Message": {
      "main": [
        [
          {
            "node": "Slack AI Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram AI Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Infra Context": {
      "main": [
        [
          {
            "node": "Extract Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "updatedAt": "2026-03-20T00:32:18.838Z",
      "createdAt": "2026-03-20T00:32:18.838Z",
      "id": "O9oHhy4dSG9QUbm8",
      "name": "security"
    },
    {
      "updatedAt": "2026-03-20T00:32:18.838Z",
      "createdAt": "2026-03-20T00:32:18.838Z",
      "id": "YBmd5Wa4GUZUR6Cw",
      "name": "wazuh"
    },
    {
      "updatedAt": "2026-03-20T01:15:07.373Z",
      "createdAt": "2026-03-20T01:15:07.373Z",
      "id": "4k2F9o090znokSnJ",
      "name": "ai"
    },
    {
      "updatedAt": "2026-03-20T00:32:18.838Z",
      "createdAt": "2026-03-20T00:32:18.838Z",
      "id": "7sqc4nl2pjCvn3Ka",
      "name": "monitoring"
    },
    {
      "updatedAt": "2026-05-15T00:00:00.000Z",
      "createdAt": "2026-05-15T00:00:00.000Z",
      "id": "TmPL8t9pKwQxZv2y",
      "name": "template"
    }
  ]
}
