workflows/document-fabric-drive-to-qdrant/workflow.json
{
  "name": "Document Fabric: Drive to Qdrant Ingest",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "specificFolder",
        "folderToWatch": { "__rl": true, "mode": "id", "value": "YOUR_DRIVE_FOLDER_ID", "cachedResultName": "Product Docs" },
        "event": "fileCreated",
        "pollTimes": { "item": [ { "mode": "everyMinute" } ] },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "mode": "id", "value": "={{ $json.id }}", "cachedResultName": "={{ $json.name }}" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [220, 0],
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Download File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://markitdown:8080/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" } ] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 0],
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "MarkItDown Convert",
      "retryOnFail": true
    },
    {
      "parameters": {
        "text": "={{ $json.markdown }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"product_line\": { \"type\": \"string\" },\n    \"sku\": { \"type\": \"string\" },\n    \"doc_type\": { \"type\": \"string\" },\n    \"effective_date\": { \"type\": \"string\" },\n    \"audience\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [660, 0],
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4o-mini", "cachedResultName": "gpt-4o-mini" },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [660, 240],
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const results = [];\nconst mdItems = $('MarkItDown Convert').all();\nconst trigItems = $('Google Drive Trigger').all();\nfor (let i = 0; i < items.length; i++) {\n  const md = mdItems[i].json.markdown;\n  const t = trigItems[i].json;\n  const ex = items[i].json.output || {};\n  const hash = crypto.createHash('sha256').update(md || '').digest('hex');\n  results.push({ json: {\n    markdown: md,\n    metadata: {\n      file_id: t.id,\n      file_name: t.name,\n      source: 'google_drive',\n      mime_type: t.mimeType,\n      modified_time: t.modifiedTime,\n      product_line: ex.product_line ?? null,\n      sku: ex.sku ?? null,\n      doc_type: ex.doc_type ?? null,\n      effective_date: ex.effective_date ?? null,\n      audience: ex.audience ?? null,\n      content_hash: hash,\n      ingested_at: new Date().toISOString()\n    }\n  } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Assemble Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_QDRANT_HOST:6333/collections/product_knowledge/points/delete",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "api-key", "value": "={{ $env.QDRANT_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      { \"key\": \"metadata.file_id\", \"match\": { \"value\": \"{{ $json.metadata.file_id }}\" } }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, 0],
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Delete Existing Vectors",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": { "__rl": true, "mode": "id", "value": "product_knowledge", "cachedResultName": "product_knowledge" },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1320, 0],
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Qdrant Insert"
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Assemble Metadata').item.json.markdown }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "file_id", "value": "={{ $('Assemble Metadata').item.json.metadata.file_id }}" },
              { "name": "product_line", "value": "={{ $('Assemble Metadata').item.json.metadata.product_line }}" },
              { "name": "sku", "value": "={{ $('Assemble Metadata').item.json.metadata.sku }}" },
              { "name": "doc_type", "value": "={{ $('Assemble Metadata').item.json.metadata.doc_type }}" },
              { "name": "effective_date", "value": "={{ $('Assemble Metadata').item.json.metadata.effective_date }}" },
              { "name": "source", "value": "={{ $('Assemble Metadata').item.json.metadata.source }}" },
              { "name": "content_hash", "value": "={{ $('Assemble Metadata').item.json.metadata.content_hash }}" }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1320, 240],
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Default Data Loader"
    },
    {
      "parameters": { "chunkSize": 1000, "chunkOverlap": 150 },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1220, 440],
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": { "model": "text-embedding-3-large", "options": {} },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1520, 240],
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Embeddings OpenAI"
    }
  ],
  "connections": {
    "Google Drive Trigger": { "main": [[{ "node": "Download File", "type": "main", "index": 0 }]] },
    "Download File": { "main": [[{ "node": "MarkItDown Convert", "type": "main", "index": 0 }]] },
    "MarkItDown Convert": { "main": [[{ "node": "Information Extractor", "type": "main", "index": 0 }]] },
    "Information Extractor": { "main": [[{ "node": "Assemble Metadata", "type": "main", "index": 0 }]] },
    "Assemble Metadata": { "main": [[{ "node": "Delete Existing Vectors", "type": "main", "index": 0 }]] },
    "Delete Existing Vectors": { "main": [[{ "node": "Qdrant Insert", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "Information Extractor", "type": "ai_languageModel", "index": 0 }]] },
    "Default Data Loader": { "ai_document": [[{ "node": "Qdrant Insert", "type": "ai_document", "index": 0 }]] },
    "Recursive Character Text Splitter": { "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]] },
    "Embeddings OpenAI": { "ai_embedding": [[{ "node": "Qdrant Insert", "type": "ai_embedding", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {}
}
