workflows/autonomous-social-media-pipeline/autonomous-social-media-pipeline.json
{
  "name": "Autonomous Social Media Pipeline v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 10,15 * * *"
            }
          ]
        }
      },
      "id": "2273d48f-7c04-4bb7-8095-ad4376d3604e",
      "name": "Schedule 10am+3pm ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {},
      "id": "a5cb0934-36ab-47fd-b328-5c22c216df74",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields[]",
              "value": "Cycle Position"
            },
            {
              "name": "sort[0][field]",
              "value": "Post Date"
            },
            {
              "name": "sort[0][direction]",
              "value": "desc"
            },
            {
              "name": "maxRecords",
              "value": "1"
            },
            {
              "name": "filterByFormula",
              "value": "NOT({Cycle Position}='')"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.AIRTABLE_PAT }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4c384c4-3d99-4a55-be52-1c5ee184d982",
      "name": "Fetch Last Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONFIG — this is the ONLY node you edit to adapt the pipeline\n// to a different industry. Set your vertical, your 5 topics,\n// and the posting cycle. Everything downstream is data-driven.\n// ============================================================\nconst config = {\n  brand: 'Your Brand',\n  vertical: 'your niche or industry',              // <-- your industry / niche\n  brandVoice: 'technical but accessible, enthusiastic, community-driven',\n  llmModel: 'claude-haiku-4-5-20251001',\n\n  // Image generation (KIE.ai)\n  kieModel: 'nano-banana-2',\n  kieAspectRatio: '1:1',\n  kieResolution: '2K',\n  kieOutputFormat: 'jpg',\n  maxPollAttempts: 30,\n  pollIntervalSeconds: 5,\n\n  // Destinations — fill these in\n  telegramChatId: 'YOUR_TELEGRAM_CHAT_ID',\n  airtableBaseId: 'YOUR_AIRTABLE_BASE_ID',\n  airtableTableId: 'YOUR_AIRTABLE_TABLE_ID',\n  metaPageId: 'YOUR_META_PAGE_ID',\n  metaIgUserId: 'YOUR_META_IG_USER_ID',\n\n  // Hashtags added to every post (topic hashtags are appended per post)\n  baseHashtags: '#yourbrand #yourindustry',\n\n  // ---- Your 5 content topics ----\n  // label:     shown in Airtable's \"Type\" field and used in the prompt\n  // angle:     the editorial instruction for this topic\n  // subtopics: the model rotates through these for variety\n  // hashtags:  appended to baseHashtags for this topic\n  topics: {\n    t1: {\n      label: 'Models',\n      angle: 'Showcase notable creations and inspiring examples in this space.',\n      subtopics: ['functional pieces', 'artistic pieces', 'practical builds', 'standout designs'],\n      hashtags: '#showcase #inspiration'\n    },\n    t2: {\n      label: 'Tips',\n      angle: 'Give one actionable, specific tip that helps people improve.',\n      subtopics: ['getting started', 'common mistakes', 'quality improvements', 'time savers'],\n      hashtags: '#tips #howto'\n    },\n    t3: {\n      label: 'Deep Dive',\n      angle: 'Explain one technical topic in real depth for an advanced audience.',\n      subtopics: ['fundamentals', 'advanced techniques', 'troubleshooting', 'the science behind it'],\n      hashtags: '#deepdive #technical'\n    },\n    t4: {\n      label: 'Process',\n      angle: 'Walk through part of the creation or design process.',\n      subtopics: ['ideation', 'iteration', 'tools and workflow', 'from concept to finished'],\n      hashtags: '#process #behindthescenes'\n    },\n    t5: {\n      label: 'Art',\n      angle: 'Celebrate the creative and artistic side of this space.',\n      subtopics: ['abstract work', 'creative experiments', 'standout aesthetics', 'unexpected ideas'],\n      hashtags: '#art #creative'\n    }\n  },\n\n  // 12-slot posting cycle (an Instagram grid of 4 rows x 3). Reference the\n  // topic keys above. Change the mix to whatever suits your channel.\n  cycle: ['t1', 't1', 't1', 't2', 't3', 't2', 't5', 't5', 't5', 't4', 't4', 't4']\n};\n\n// Advance the cycle position based on the last logged post\nconst records = $input.first().json.records || [];\nlet lastPosition = -1;\nif (records.length > 0 && records[0].fields && records[0].fields['Cycle Position'] != null) {\n  lastPosition = parseInt(records[0].fields['Cycle Position'], 10);\n}\nconst position = (lastPosition + 1) % config.cycle.length;\n\nconfig.contentType = config.cycle[position];                       // slot key, e.g. 't1'\nconfig.contentLabel = (config.topics[config.contentType] || {}).label || config.contentType;\nconfig.cyclePosition = position;\nconfig.cycleRow = Math.floor(position / 3);\nconfig.runTimestamp = new Date().toISOString();\n\nreturn [{ json: config }];\n"
      },
      "id": "08ac1219-5cba-41d0-ae1f-276ce09c8941",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields[]",
              "value": "Content Title"
            },
            {
              "name": "fields[]",
              "value": "Image Prompt"
            },
            {
              "name": "sort[0][field]",
              "value": "Post Date"
            },
            {
              "name": "sort[0][direction]",
              "value": "desc"
            },
            {
              "name": "maxRecords",
              "value": "15"
            },
            {
              "name": "filterByFormula",
              "value": "={{ 'AND({Type}=\\'' + $json.contentLabel + '\\',NOT({Status}=\\'\\'))' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.AIRTABLE_PAT }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2fa4fa5-b506-43e5-b5ed-b7b327dccf6a",
      "name": "Fetch Past Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the topic-dedup context AND the generation prompt from the selected\n// topic. All industry-specific wording comes from the Config node's topics.\nconst records = $input.first().json.records || [];\nconst config = $('Config').first().json;\nconst topic = config.topics[config.contentType] || {};\n\nconst pastTopics = records.map(function (r) {\n  const title = r.fields['Content Title'] || '';\n  const prompt = (r.fields['Image Prompt'] || '').substring(0, 120);\n  return '- ' + title + ' (prompt: ' + prompt + '...)';\n}).join('\\n') || 'No previous posts found — this is the first post of this type.';\n\nconst subtopics = (topic.subtopics || []).join(', ');\nconst allHashtags = [config.baseHashtags, topic.hashtags].filter(Boolean).join(' ');\n\nconst system = 'You are a social content creator for ' + config.brand +\n  ', working in the ' + config.vertical + ' space. Your voice is ' + config.brandVoice +\n  '. You create content that educates and inspires this audience.';\n\nconst userPrompt =\n  'Generate a \"' + topic.label + '\" post about ' + config.vertical + '.\\n' +\n  'Angle: ' + topic.angle + '\\n' +\n  'Rotate through these subtopics for variety: ' + subtopics + '. Pick whichever is most useful and timely.\\n\\n' +\n  'Respond with EXACTLY this JSON (no markdown, no extra text):\\n' +\n  '{\\n' +\n  '  \"subtopic\": \"the specific subtopic you chose\",\\n' +\n  '  \"title\": \"short catchy title (max 8 words)\",\\n' +\n  '  \"caption\": \"an Instagram caption, 2-3 short paragraphs, ends with a question to engage followers, and includes these hashtags: ' + allHashtags + '\",\\n' +\n  '  \"imagePrompt\": \"a text-to-image prompt for a striking, professional photo illustrating this post (2-4 sentences describing subject, lighting, and composition; no text in the image)\",\\n' +\n  '  \"voiceoverScript\": \"a 15-25 second voiceover script, conversational and energetic, starts with a hook\"\\n' +\n  '}\\n\\n' +\n  'IMPORTANT — do NOT repeat any of these recent posts:\\n' +\n  pastTopics + '\\n\\n' +\n  'Generate fresh, unique content on a subtopic not listed above.';\n\nreturn [{ json: Object.assign({}, config, { pastTopics: pastTopics, system: system, userPrompt: userPrompt }) }];\n"
      },
      "id": "13f5f112-2065-45f0-955c-6fd6545bcb51",
      "name": "Prep Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.llmModel, system: $json.system, messages: [ { role: 'user', content: $json.userPrompt } ], max_tokens: 800, temperature: 0.8 }) }}",
        "options": {}
      },
      "id": "971f9e67-4683-4ddf-8011-13a6b2134d3e",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and standardize the output for the shared publish\n// pipeline. Forwards the config fields the downstream nodes need.\nconst response = $input.first().json;\nconst config = $('Config').first().json;\n\nlet parsed;\ntry {\n  let content = response.content[0].text;\n  content = content.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message);\n}\n\nreturn [{\n  json: {\n    contentType: config.contentType,\n    contentLabel: config.contentLabel,\n    contentSubtype: parsed.subtopic || config.contentLabel,\n    postTitle: parsed.title || config.contentLabel,\n    caption: parsed.caption || '',\n    imagePrompt: parsed.imagePrompt || ('Professional photo illustrating ' + config.vertical + ', clean composition, natural light'),\n    elevenLabsScript: parsed.voiceoverScript || '',\n    // forward config fields the downstream pipeline needs\n    brand: config.brand,\n    kieModel: config.kieModel,\n    kieAspectRatio: config.kieAspectRatio,\n    kieResolution: config.kieResolution,\n    kieOutputFormat: config.kieOutputFormat,\n    maxPollAttempts: config.maxPollAttempts,\n    telegramChatId: config.telegramChatId,\n    airtableBaseId: config.airtableBaseId,\n    airtableTableId: config.airtableTableId,\n    metaPageId: config.metaPageId,\n    metaIgUserId: config.metaIgUserId,\n    runTimestamp: config.runTimestamp\n  }\n}];\n"
      },
      "id": "f0519eea-cf42-432c-92e8-b83943e7c38d",
      "name": "Parse Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.kieModel, input: { prompt: $json.imagePrompt, aspect_ratio: $json.kieAspectRatio, resolution: $json.kieResolution, output_format: $json.kieOutputFormat } }) }}",
        "options": {}
      },
      "id": "9e1330dd-74c2-4eab-ad79-b5337412d096",
      "name": "KIE Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        380
      ]
    },
    {
      "parameters": {},
      "id": "1b22182e-71c4-44ac-9d74-64eb9750dc7b",
      "name": "KIE Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('KIE Create').first().json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aee8367b-9b4a-4b69-8397-23c26a1060da",
      "name": "KIE Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst state = item.data?.state || 'pending';\nconst taskId = $('KIE Create').first().json.data?.taskId || '';\nconst pollCount = (item._pollCount || 0) + 1;\n// Standardized content + config comes from Parse Content\nconst cfg = $('Parse Content').first().json;\nif (state === 'success') {\n  let imageUrl = '';\n  try {\n    const resultJson = JSON.parse(item.data.resultJson);\n    imageUrl = resultJson.resultUrls?.[0] || '';\n  } catch (e) { imageUrl = 'PARSE_ERROR: ' + e.message; }\n  return [{ json: { ...cfg, generatedImageUrl: imageUrl, taskId, kieState: 'success', _pollCount: pollCount } }];\n} else if (state === 'fail' || pollCount >= 30) {\n  return [{ json: { ...cfg, taskId, kieState: 'fail', _pollCount: pollCount,\n    reason: state === 'fail' ? 'KIE task failed' : 'Max polls (' + pollCount + ') reached' } }];\n} else {\n  return [{ json: { ...item, ...cfg, taskId, kieState: 'polling', _pollCount: pollCount } }];\n}\n"
      },
      "id": "ebb26bdc-3428-403a-aad9-46583acde932",
      "name": "KIE Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ae8d407-fd5f-4a89-b8ef-39eeb9c91071",
                    "leftValue": "={{ $json.kieState }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a91c725a-0808-4906-8bb7-3e5c03f3274a",
                    "leftValue": "={{ $json.kieState }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0828ab9c-e5cc-4925-a933-bbeedcb2b43c",
                    "leftValue": "={{ $json.kieState }}",
                    "rightValue": "polling",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Polling"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc7d0b1-7d90-456d-90c3-90ed670bed1a",
      "name": "Route KIE",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2140,
        380
      ]
    },
    {
      "parameters": {},
      "id": "d40f81bd-5c8f-41b5-bf82-c564ddd23e76",
      "name": "KIE Poll Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        560
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').first().json.telegramChatId }}",
        "text": "=❌ {{ $('Config').first().json.brand }} — {{ $('Config').first().json.contentLabel }} image generation failed\n\nReason: {{ $('KIE Check').first().json.reason }}\nTask: {{ $('KIE Check').first().json.taskId }}\nCycle Position: {{ $('Config').first().json.cyclePosition }}",
        "additionalFields": {}
      },
      "id": "401029e5-4d8b-4058-973b-b14179f959d1",
      "name": "KIE Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2360,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('KIE Check').first().json.metaPageId }}/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('KIE Check').first().json.generatedImageUrl }}"
            },
            {
              "name": "message",
              "value": "={{ $('KIE Check').first().json.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.META_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "073a335a-1d91-4884-9692-1b63860de6d1",
      "name": "FB Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('KIE Check').first().json.metaIgUserId }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('KIE Check').first().json.generatedImageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $('KIE Check').first().json.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.META_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a47d5b59-475c-493c-90c9-2aec0fe6c10c",
      "name": "IG Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        220
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "e9556bf2-27c3-45c0-98ce-59136d1ee490",
      "name": "IG Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('KIE Check').first().json.metaIgUserId }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('IG Container').first().json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.META_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1053866-d9c7-42c8-ade6-9994642d36fa",
      "name": "IG Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('KIE Check').first().json;\nconst config = $('Config').first().json;\nconst igId = $('IG Publish').first().json.id || '';\n\nreturn [{\n  json: {\n    'Content Title': (cfg.contentLabel || 'Content') + ' - ' + new Date().toLocaleDateString(),\n    'Type': cfg.contentLabel || 'Content',\n    'Script/Caption': cfg.caption || '',\n    'Status': 'Published',\n    'Post Date': new Date().toISOString().split('T')[0],\n    'Output Type': 'photo',\n    'Generation Source': 'live_v3',\n    'Image Prompt': cfg.imagePrompt || '',\n    'KIE Task ID': cfg.taskId || '',\n    'IG Post ID': String(igId),\n    'Source Image': cfg.generatedImageUrl || '',\n    'Cycle Position': config.cyclePosition\n  }\n}];\n"
      },
      "id": "ded582d5-62a1-46e4-8639-2a9c2503acc4",
      "name": "Build Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.AIRTABLE_PAT }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ records: [{ fields: $json }], typecast: true }) }}",
        "options": {}
      },
      "id": "69075ab3-d4d2-4443-9d26-bb8a2bea0c85",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').first().json.telegramChatId }}",
        "text": "=✅ {{ $('Config').first().json.brand }} — {{ $('Config').first().json.contentLabel }} posted!\n\nCycle pos: {{ $('Config').first().json.cyclePosition }}\nTitle: {{ $('Build Airtable').first().json['Content Title'] }}",
        "additionalFields": {}
      },
      "id": "231fb73c-3e72-482e-958f-b01ab08bc9d0",
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3440,
        220
      ]
    },
    {
      "parameters": {
        "content": "# Autonomous Social Media Pipeline v3\n\nA scheduled content engine for **any** vertical. Each run picks the next slot in a 12-post Instagram grid cycle, writes a caption + image prompt with an LLM, generates an original image, publishes to Facebook + Instagram, logs to Airtable, and notifies on Telegram.\n\n**Adapt it in one place:** the **Config** node holds your `vertical` and five `topics`. Nothing else is industry-specific.",
        "height": 160,
        "width": 1000
      },
      "id": "note-header",
      "name": "Header Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        40
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Step 1: Configure (edit this)\n\nThe **Config** node is the only node you edit:\n\n- `vertical` — your industry / niche\n- `brand`, `brandVoice`\n- `topics` — your **5** content topics (label, angle, subtopics, hashtags)\n- `cycle` — the 12-slot posting pattern referencing your topic keys\n\nThe schedule advances one slot each run, looking up the last position from Airtable.",
        "height": 300,
        "width": 520
      },
      "id": "note-config",
      "name": "Step 1 - Configure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        640
      ]
    },
    {
      "parameters": {
        "content": "## ✍️ Step 2: Generate (dynamic)\n\n**Prep Prompt** builds the system + user prompt from the selected topic. **Generate Content** calls the LLM once and **Parse Content** standardizes the result:\n\n- Instagram caption with hashtags\n- an image-generation prompt\n- a voiceover script (for future video)\n\nOne generator, driven entirely by Config — no per-topic branches to maintain.",
        "height": 300,
        "width": 560,
        "color": 5
      },
      "id": "note-generate",
      "name": "Step 2 - Generate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        640
      ]
    },
    {
      "parameters": {
        "content": "## 🎨 Step 3: Image Generation\n\nThe image prompt is sent to **KIE.ai**:\n1. Submit → get a task ID\n2. Wait & poll\n3. Check status — success, fail, or keep polling\n4. Route: success → publish, fail → Telegram alert\n\nThe poll loop caps at **30 attempts** so it never hangs.",
        "height": 300,
        "width": 900,
        "color": 6
      },
      "id": "note-image",
      "name": "Step 3 - Image Gen",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        640
      ]
    },
    {
      "parameters": {
        "content": "## 📱 Step 4: Publish\n\n1. **Facebook** photo post via Graph API\n2. **Instagram** container → wait → publish\n\nIG Container has retry-on-fail for Meta API hiccups.",
        "height": 180,
        "width": 760
      },
      "id": "note-publish",
      "name": "Step 4 - Publish",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        20
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Step 5: Log & Notify\n\nEvery post is logged to **Airtable** (caption, image URL, post IDs, prompt, cycle position) — a searchable content library and the source of truth for the cycle. Then a **Telegram** success ping.",
        "height": 180,
        "width": 560,
        "color": 6
      },
      "id": "note-logging",
      "name": "Step 5 - Logging",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3120,
        20
      ]
    },
    {
      "parameters": {
        "content": "## 📈 What This Achieves\n\n**Hands-off scheduled posting** across Instagram & Facebook for whatever vertical you configure.\n\n- 🧠 LLM writes unique, on-brand captions per topic\n- 🎨 Original AI images, no stock photos\n- 🔁 12-post grid cycle keeps the feed varied\n- 📊 Every post tracked in Airtable, with topic dedup\n\n*Built by Agenius AI Labs*",
        "height": 180,
        "width": 1000,
        "color": 5
      },
      "id": "note-footer",
      "name": "Footer Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ]
    }
  ],
  "connections": {
    "Schedule 10am+3pm ET": {
      "main": [
        [
          {
            "node": "Fetch Last Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Last Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Record": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Past Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Past Topics": {
      "main": [
        [
          {
            "node": "Prep Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Prompt": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Parse Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content": {
      "main": [
        [
          {
            "node": "KIE Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Create": {
      "main": [
        [
          {
            "node": "KIE Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Wait": {
      "main": [
        [
          {
            "node": "KIE Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Poll": {
      "main": [
        [
          {
            "node": "KIE Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Check": {
      "main": [
        [
          {
            "node": "Route KIE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route KIE": {
      "main": [
        [
          {
            "node": "FB Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KIE Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KIE Poll Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE Poll Wait": {
      "main": [
        [
          {
            "node": "KIE Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Post": {
      "main": [
        [
          {
            "node": "IG Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Container": {
      "main": [
        [
          {
            "node": "IG Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Wait": {
      "main": [
        [
          {
            "node": "IG Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish": {
      "main": [
        [
          {
            "node": "Build Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Airtable": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Airtable": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {}
}
