workflows/apollo-lead-enrichment/3-manual-reveal.json
{
  "name": "GMS Manual Reveal (Apollo lead pipeline, part 3)",
  "nodes": [
    {
      "parameters": {
        "content": "# Part 3 · Manual Reveal\n\nOptional on-demand reveal. Part 2 leaves most contacts **unrevealed**; this webhook reveals one when asked, so the read-only `viewer/` can offer a **Reveal** button without holding your Apollo key or writing the database.\n\n**Before activating:** attach the **Postgres** credential on both DB nodes and your **Apollo** `X-Api-Key` credential on the reveal node; set `REVEAL_TOKEN` in **Config** to a secret. Manual reveals are deliberate (one click, one credit) and are **not** bounded by the Part 2 monthly cap, so keep the token private.",
        "height": 400,
        "width": 1900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -640
      ],
      "id": "doc",
      "name": "Doc"
    },
    {
      "parameters": {
        "content": "## ① Authenticate\n\n`POST /webhook/manual-reveal` with `{ lead_id, token }`.\n\n**Token OK?** checks the token against `Config.REVEAL_TOKEN`. A bad token exits immediately as `{ ok: false, error: \"unauthorized\" }`. No lookup, no credit.",
        "height": 560,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -160
      ],
      "id": "s1",
      "name": "Section 1"
    },
    {
      "parameters": {
        "content": "## ② Load & guard\n\n**Load lead** fetches the row by id (Always Output Data is on, so a missing id is handled, not a 500).\n\n**Revealable?** proceeds only if the lead has an Apollo person id and is not already `verified`. Otherwise exit as `{ ok: false, reason: ... }` with no credit spent.",
        "height": 560,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        -160
      ],
      "id": "s2",
      "name": "Section 2"
    },
    {
      "parameters": {
        "content": "## ③ Reveal & write back\n\n**Apollo: REVEAL** runs `people/match` to unmask the email (one credit).\n\n**Apply reveal** writes it back to the row as `verified`; **Success** responds `{ ok: true, lead_id, email, email_status }`. If Apollo errors, exit as `apollo_reveal_failed` and leave the row unchanged.",
        "height": 560,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -160
      ],
      "id": "s3",
      "name": "Section 3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-reveal",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        0
      ],
      "id": "wh",
      "name": "Reveal webhook",
      "webhookId": "manual-reveal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t",
              "name": "REVEAL_TOKEN",
              "type": "string",
              "value": "change-me"
            },
            {
              "id": "c",
              "name": "MONTHLY_REVEAL_CAP",
              "type": "number",
              "value": 50
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        0
      ],
      "id": "cfg",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Reveal webhook').first().json.body.token }}",
              "rightValue": "={{ $('Config').first().json.REVEAL_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        0
      ],
      "id": "iftoken",
      "name": "Token OK?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "ok",
              "type": "boolean",
              "value": false
            },
            {
              "id": "b",
              "name": "error",
              "type": "string",
              "value": "unauthorized"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        240
      ],
      "id": "resp401",
      "name": "Unauthorized"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, apollo_person_id, email_status FROM cold_outreach.gms_leads_enriched WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [ $('Reveal webhook').first().json.body.lead_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -900,
        0
      ],
      "id": "loadlead",
      "name": "Load lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "r1",
              "leftValue": "={{ $json.apollo_person_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "r2",
              "leftValue": "={{ $json.email_status }}",
              "rightValue": "verified",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        0
      ],
      "id": "ifreveal",
      "name": "Revealable?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "ok",
              "type": "boolean",
              "value": false
            },
            {
              "id": "b",
              "name": "reason",
              "type": "string",
              "value": "lead not found, already revealed, or no Apollo contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        240
      ],
      "id": "respskip",
      "name": "Not revealable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Load lead').item.json.apollo_person_id }}\",\n  \"reveal_personal_emails\": true,\n  \"reveal_phone_number\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ],
      "id": "reveal",
      "name": "Apollo: REVEAL (1 credit)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "ok",
              "type": "boolean",
              "value": false
            },
            {
              "id": "b",
              "name": "error",
              "type": "string",
              "value": "apollo_reveal_failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        240
      ],
      "id": "respfail",
      "name": "Reveal failed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE cold_outreach.gms_leads_enriched\nSET email = $1,\n    email_status = COALESCE($2, 'unknown'),\n    phone = COALESCE($3, phone),\n    apollo_person_payload = $4::jsonb,\n    icp_reasons = icp_reasons || jsonb_build_object('reveal_status', $2, 'revealed_manually', true)\nWHERE id = $5\nRETURNING id, email, email_status;",
        "options": {
          "queryReplacement": "={{ [ ($json.person ? $json.person.email : null), ($json.person ? $json.person.email_status : null), ($json.person && $json.person.phone_numbers && $json.person.phone_numbers[0] ? $json.person.phone_numbers[0].sanitized_number : null), ($json.person ? JSON.stringify($json.person) : null), $('Load lead').item.json.id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -140,
        0
      ],
      "id": "applyreveal",
      "name": "Apply reveal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "ok",
              "type": "boolean",
              "value": true
            },
            {
              "id": "b",
              "name": "lead_id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "c",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "d",
              "name": "email_status",
              "type": "string",
              "value": "={{ $json.email_status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        0
      ],
      "id": "respok",
      "name": "Success"
    }
  ],
  "connections": {
    "Reveal webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Load lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load lead": {
      "main": [
        [
          {
            "node": "Revealable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revealable?": {
      "main": [
        [
          {
            "node": "Apollo: REVEAL (1 credit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not revealable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo: REVEAL (1 credit)": {
      "main": [
        [
          {
            "node": "Apply reveal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reveal failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply reveal": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}